{
  "extends": "airbnb",
  "plugins": [
      "react"
  ],
  "rules": {
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "max-len":0,
    "react/jsx-no-bind": 0, 
    "react/prop-types": 0,
    "react/jsx-filename-extension":0,
    "array-callback-return": "off", // 关闭 数组的迭代函数内需要返回值验证
    "consistent-return": "off", // 关闭 函数需要有返回值验证
    "no-param-reassign": "off", // 关闭 函数的形参不可改变验证
    "global-require": "off", // 关闭 禁止require使用验证
    "newline-per-chained-call": "off", // 关闭 链式调用必须换行的验证
    "jsx-a11y/no-static-element-interactions": "off", // 关闭 静态元素拥有交互时，需要增加role验证
    "import/prefer-default-export": "off" // 关闭 只有一个导出时，必须以default形式导出的验证
  },
  "parserOptions":{
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true // 支持对象的解构赋值
      }
  }
}