.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.content {
  font-size: 32px;
}

.contentWrp {
  font-size: 44px;
}

